<!DOCTYPE html>
<html ng-app="quesion_selector_app">
  <head>
    <meta charset="utf-8">
    <!-- for bootstrap -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <link rel="stylesheet" href="./css/common_styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- end for bootstrap-->

    <!-- for angular -->
    <script src="./js/angular.min.js"></script>
    <!-- end for angular -->
    <!-- for selector -->
    <script src="./js/question_data.js"></script>
    <script src="./js/question_selector.js"></script>
    <!-- end for selector -->

    <title>Catch Phrase</title>
    <style>
      table {
        background-size: cover;
        width: 700px;
        height: 400px;
        padding: 20px;
        margin: auto;
        border: 1px solid black;
        }
    </style>
  </head>

  <body ng-app="quesion_selector_app">
    <!-- menu bar at the top -->
    <catch-phrase-nav-directive></catch-phrase-nav-directive>

    <!-- start of question selector -->
    <div class="container">

        <!-- question selection -->
        <question-selection></question-selection>
        <div class="row">
          <div class="col-xs-12"><h1>Catch phrase</h1></div>
        </div>

        <div class="row" ng-controller='CatchPhrasePageController as pc'>
          <div class="col-xs-12" ng-if="pc.qandas().length==0">
            <h3>Choose Some questions to create the resourse</h3>
          </div>
          <div class="col-xs-12" ng-if="!pc.qandas().length==0">
            <table  id="table1" cellspacing="0" cellpadding="0"
                    style="background-image: url(&quot;images/1CaughtRedHanded.png&quot;); width:100%">
              <tbody>
                  <tr ng-repeat="qanda in pc.qandas()">
                      <td><div>
                            <button class="btn btn-success btn-block" ng-click="pc.questionClick($index)" ng-hide="pc.isMissing($index)">{{ qanda.question }}</button>
                            <button class="btn btn-success btn-block" style="opacity:0.0;" ng-show="pc.isMissing($index)">{{ qanda.question }}</button>
                          </div></td>
                      <td><div>
                            <button class="btn btn-success btn-block" ng-click="pc.answerClick($index)" ng-hide="pc.answerMissing($index)">{{ qanda.answerAtIndex }}</button>
                            <button class="btn btn-success btn-block" style="opacity:0.0;" ng-show="pc.answerMissing($index)">{{ qanda.answerAtIndex }}</button>
                          </div></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <!-- end  question selector -->

  </body>
</html>
