<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- for bootstrap -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- end for bootstrap-->

    <!-- for angular -->
    <script src="./js/angular.min.js"></script>
    <!-- end for angular -->
    <!-- for selector -->
    <script src="./js/question_data.js"></script>
    <script src="./js/question_selector.js"></script>
    <!-- end for selector -->

    <style>
      body { font-size: 1.3em; }
      .green {color: green;}
    </style>
    <title>Name Calculator</title>
  </head>
  <body>
    <!-- start of navbar -->
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- logo -->
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><img src="favicon-transparent-white.png" height=20 width=20></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- pages -->
    <div class="collapse navbar-collapse" id="mainNavBar">
      <ul class="nav navbar-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Contacts</a></li>
        <li class="active"><a href="#">Choose Questions</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Questions</a></li>
            <li><a href="#">Catch Phrase</a></li>
            <li><a href="#">Bingo</a></li>
            <li><a href="#">Find the phrase</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar -->

  <!-- start of question selector -->
  <div class="container" ng-app="quesion_selector_app">
    <div>

      <h2><a href="#questionSpecs" data-toggle="collapse">Choose Questions</a></h2>

      <div class="form-group collapse in" id="questionSpecs" ng-controller="QSController">

        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
              <label for="levels">Choose Difficulty:</label>
              <select class="form-control" id="levels">
                    <option value="NotSelected"></option>
              </select>
          </div>

          <div class="col-lg-3 col-md-3 col-sm-8 col-xs-8">
              <label for="topics">Choose Topic:</label>
              <select id="topics" class="form-control" ng-model="selectedTopic" ng-change="topicChange()">
                    <option value="NotSelected"></option>
                    <option ng-repeat="topic in topics" value="{{topic}}">{{topic}}</option>
              </select>
          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
              <label for="subtopics">Choose Subtopic:</label>
              <select class="form-control" id="subtopics" ng-model="selectedSubtopic" ng-change="subtopicChange()">
                    <option value="NotSelected"></option>
                    <option ng-repeat="subtopic in subtopics" value="{{subtopic}}">{{subtopic}}</option>
              </select>
          </div>

          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <label for="titles">Choose Title:</label>
              <select class="form-control" id="titles" ng-model="selectedTitle" ng-change="titleChange()">
                    <option value="NotSelected"></option>
                    <option ng-repeat="title in titles" value="{{title}}">{{title}}</option>
              </select>
          </div>

        </div>

      </div>

      <div ng-controller='PageController'>
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"  style="padding: 8px 16px;">Question</div><div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="padding: 8px 16px;">Answer</div>
        </div>
        <div class="row" ng-repeat="qanda in qandas()">
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9"  style="padding: 8px 16px;">{{qanda.question}}</div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" ng-click="clickResponse($index)">
              <span ng-if="visible($index)">{{qanda.answer}}</span>
              <span ng-if="invisible($index)">
                <button class="btn btn-default btn-block">Answer {{$index + 1}}</button>
              </span>
            </div>
        </div>
    </div>
    </div>

  </div>
  <!-- end of question selector -->

  <div class="container">

  </div>

  </body>
</html>
